.debug
{

  header
  {
    background-color: red;
    height: 80px;

    *
    {
      height: 100%;
    }

    nav
    {
      background-color: purple;

      .left
      {
        background-color: pink;
      }

      .right
      {
        background-color: yellow;
      }

    }
  }




}


/* Common */

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




/* Utilities */
.container
{
  width: 70%;
  max-width: 1176px;
  margin: auto
}


.container-sm
{
  width: 60%;
  max-width: 900px;
  margin: auto
}


/* Header */

header
{
  padding: 1rem;

  nav
  {
    display: flex;
  }

  .left,
  .right
  {
    width: 50%;
  }


}