@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.debug
{

  *
  {
    border: 1px dashed;
  }

  header
  {
    background-color: red;
    height: 80px;

    *
    {
      height: 100%;
    }

    nav
    {
      background-color: purple;

      .left
      {
        background-color: pink;
      }

      .right
      {
        background-color: yellow;
      }

    }
  }


  .jumbotron
  {
    height: 745px;

  }



  [class^=col-]
  {
    height: 300px;
  }

  #teams {
    background-color: purple;
  }


}


/* Common */

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root
{
  --drop-primary: #0061fe;
  --drop-secondary: #b4d0e6;
  --drop-black: black;
  --drop-white: white;
}

body {
  font-family: "Open Sans", sans-serif;
  min-width: 1908px;
  background-color: whitesmoke;
}


section {
  padding: 150px 0;
}

/* Utilities */
.container
{
  width: 70%;
  max-width: 1176px;
  margin: auto
}


.container-sm
{
  width: 60%;
  max-width: 900px;
  margin: auto
}



.d-flex
{
  display: flex;
}

.row
{
  display: flex;
  flex-wrap: wrap;
  /* ? */
}


.col-5 {
  width: calc(100% / 5);
}

.col-33
{
  width: calc(100% / 3);
}

.col-35
{
  width: 35%;
}

.col-65
{
  width: 65%;
}

.col-100
{
  width: 100%;
}


/* buttons */
.btn {
  display: inline-block;
  padding: 0.5rem;
  text-decoration: none;
  background-color: transparent;
  border-style: none;
}

.btn-primary {
  background-color: var(--drop-primary);
  color: var(--drop-white);

  &:hover {
    cursor: pointer;
    background-color: var(--drop-secondary);
  }
}


/* Header */

header
{
  padding: 1rem;
  background-color: white;

  nav
  {
    display: flex;

  }

  .left,
  .right
  {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    ul {
      list-style: none;
      display: flex;


      a{
        text-decoration: none;
        padding: 1.5rem 0.5rem;

        &:hover {
          border-bottom: 1px solid black;
        }
      }

    }
  }

  .right{
    justify-content: end;
  } 


}



/* Main */

.jumbotron
{
  background-color: var(--drop-primary);

}



/* Footer */

footer {
  background-color: var(--drop-black);
  padding: 2rem;
  color: var(--drop-white);
}