@import url('./debug.css');

/* #region Common */
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  height: 100vh;
  overflow: hidden;
  background-color: var(--band-darker);
}

:root
{
  --band-top-height: 112px;
  --band-darker: #222222;
  --band-dark: #2b2b2b;
  --band-dark-soft: #3c3c3c;
  --band-dark-softer: #464646;
  --band-lighter: white;
}

img
{
  max-width: 100%;
}

a
{
  text-decoration: none;
}

/* #endregion Common */

/* #region Layout */

.top
{
  height: var(--band-top-height);
}

.bottom
{
  height: calc(100% - var(--band-top-height));
  display: flex;

  .left,
  .right
  {
    height: 100%;
  }

  .left
  {
    width: 70%;
    overflow-y: auto;
  }

  .right
  {
    width: 30%;
  }
}



.container_flex
{
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  margin: 0 -1rem;

  .album_column
  {
    padding: 1rem;
    width: calc(100% / 4);
  }

}

/* #endregion Layout */


.top
{

  nav,
  nav .left,
  nav .right
  {
    display: flex;
    align-items: center;
    gap: 1rem;

  }

  nav
  {
    justify-content: space-between;

    a
    {
      color: var(--band-lighter);
    }
  }

  .search_box input
  {
    background-color: var(--band-dark-soft);
    padding: 0.5rem;
    min-width: 300px;
    border: none;
    border-radius: 0.25rem;
  }

  nav,
  .genres_filter
  {
    height: 50%;
    padding: 0 1rem;
  }

  .genres_filter
  {
    background-color: var(--band-dark);
    display: flex;
    align-items: center;
    input
    {
      border-radius: 1rem;
      padding: 0.5rem;
      min-width: 300px;
      background-color: var(--band-dark-soft);
      border: 1px solid var(--band-dark-softer);
    }
  }
}


.card {
  color: var(--band-lighter);
  img {
    border: 1px solid var(--band-dark-soft);
  }
  .title {
    font-weight: 500;
  }
  .genre {
    color: gray;
  }
}