/* #region Debug */

.debug
{

  * {
    border: 1px dashed;
  }

  header
  {
    height: 100px;
    background-color: green;
  }

  .container
  {
    background-color: rgba(255, 170, 12, 0.753);
   height: 100%;
  }

  .container-sm {
    background-color: pink;
    height: 100%;
  }


  .jumbotron {
    background-color: royalblue;
      height: 400px;
  }


  section {
    height: 350px;
    background-color: purple;
  }


  footer {
    background-color: black;
    height: 500px;
  }

}

/* .degug header {} */
/* .debug .jumbotron {} */
/* .degug > header {} */

/* #endregion Debug */

/*#region Common */
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dis-white: #ffffff;
  --dis-dark: #23272a;
  --dis-light: #f6f6f6;
  --dis-primary: #3161e0;
  --dis-secondary: #7289da;
  --dis-secondary-light: #8ea1e1;

}

body {
  font-family: sans-serif;
}

section
{
  padding: 3rem 0;
}
/*#region Common */

/* #region Utilities */

/* Layout */
.container
{
  width: 80%;
  max-width: 1200px;
  margin: auto
}

.container-sm
{
  width: 65%;
  margin: auto;
}

/* Sizing */
.w-70
{
  width: 70%;
}

.w-30
{
  width: 30%;
}

/* Flex */
.d-flex
{
  display: flex;
}

.justify-content-between
{
  justify-content: space-between;
}


/* typograpy - buttons */
.list-unstyled
{
  list-style: none;
}

.btn {
  padding: 0.25rem 0.5rem;
  border-radius: 0.75rem;
}

.btn-lg {
  padding: 0.5rem 0.75rem;
}

.btn-light{
  background-color: var(--dis-white);
  color: var(--dis-dark);
}


/* #endregion Utilities */

/* #region Header */

header
{
  padding: 0.5rem 0;
  background-color: var(--dis-primary);

  .logo img {
    display: block;
  }
  nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  a {
    color: var(--dis-white);
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    font-size: 0.9rem;
  }
}

/* #endregion Header */

/* #region Main */
main {

}


/* #endregion Main */
