/* Common */
:root{
  --bol-primary: #1fa9e5;
  --bol-primary-dark: #4ea0ff;
  --bol-primary-light: #b1e4f2;
  --bol-dark: #000000;
  --bol-light: #858585;
  --bol-warning: #ffff00;

}


body {
  margin: 0;
}


/* Header */

header {
  background-color: var(--bol-primary-dark);
  background-image: url('../img/pattern.png');
  background-size: 30%;
  background-attachment: fixed;
  /* padding-top: 32px; */
  padding-top: 2.5rem;
  padding-left: 4rem;
  padding-bottom: 1.5rem;
}